:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --green: #31d0aa;
  --dairy: #fcfcfc;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: var(--white);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

input,
textarea {
  font-family: inherit;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-dark {
  color: var(--navy-blue);
}

.logo-light {
  color: var(--cloud);
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

/* HERO */

.hero {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  text-align: center;
}

.hero-title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* ADVANTAGES */

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages-item {
  width: 100%;
}

.advantages-icon-box {
  display: none;
}

.advantages-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.advantages-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* TEAM */

.team {
  background-color: var(--cloud);
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  width: 264px;
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-content {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-position {
  margin-bottom: 8px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  color: var(--cloud);
  transition: background-color var(--transition);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: currentColor;
}

/* PORTFOLIO */

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  width: 100%;
}

.portfolio-link {
  display: block;
  color: inherit;
  transition: box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  display: none;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--navy-blue);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-left,
.footer-right,
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-title,
.footer-subscribe-title {
  margin-bottom: 16px;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--iris);
  color: var(--cloud);
  transition: background-color var(--transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-input {
  width: 288px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: var(--white);
  outline: transparent;
}

.footer-input::placeholder {
  color: var(--white);
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  background-color: var(--iris);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--ocean);
}

.footer-btn-icon {
  fill: currentColor;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop:not(.is-open) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--cornflower);
  background-color: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color var(--transition), border var(--transition);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-close-icon {
  fill: var(--navy-blue);
  transition: fill var(--transition);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--white);
}

.modal-title {
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
  color: var(--navy-blue);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-field {
  margin-bottom: 8px;
}

.form-field-comment {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition);
}

.form-input:focus {
  border-color: var(--iris);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill var(--transition);
}

.form-input:focus + .form-icon {
  fill: var(--iris);
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color var(--transition);
}

.form-textarea:focus {
  border-color: var(--iris);
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-check {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  display: flex;
  align-items: center;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.check-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}

.check-icon {
  fill: currentColor;
}

.form-checkbox:checked + .check-text .check-box {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.privacy-link {
  color: var(--iris);
  text-decoration: underline;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 10px 24px;
  background-color: var(--iris);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    min-height: 72px;
  }

  .nav .logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    transition: color var(--transition);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }

  .current {
    color: var(--ocean);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
  }

  .address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
    transition: color var(--transition);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }

  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: left;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 72px 24px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-left,
  .footer-right,
  .footer-subscribe {
    align-items: flex-start;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .nav .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background-color: var(--cloud);
  }

  .advantages-icon {
    width: 64px;
    height: 64px;
    fill: var(--iris);
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform var(--transition);
  }

  .portfolio-link:hover .portfolio-overlay,
  .portfolio-link:focus .portfolio-overlay {
    transform: translateY(0);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-left {
    margin-right: 120px;
  }

  .footer-right {
    margin-right: 80px;
  }
}